.site-header {
   position: absolute;
   z-index: 2;
   width: 100%;
   padding: 10px 0;
   transition: background-color .3s ease-out;

   &--is-expanded {
      background-color: rgba($mainBlue, .55)
   }

   @mixin atMedium {
      background-color: rgba($mainBlue, .3);
   }

   &__btn-container {

      @mixin atMedium {
         float: right;
      }
   }

   &__logo {
      position: absolute;
      background-color: $mainBlue;
      left: 50%;
      transform: translateX(-50%) scale(.8) ;
      transform-origin: 50% 0;
      padding: 25px 36px;
      top: 0;

      @mixin atMedium {
         left: auto;
         transform: translateX(0);
      }
   }

   &__logo__graphic {
      text-indent: -9999px;
   }

   &__menu-icon {
      width: 20px;
      height: 19px;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 20;

      &__middle {
         position: absolute;
         top: 8px;
         left: 0;
         width: 20px;
         height: 3px;
         background-color: white;
         transition: transform .3s ease-out;
         transform-origin: 0 50%;
      }

      &::before {
         position: absolute;
         top: 0;;
         left: 0;
         width: 20px;
         height: 3px;
         content: '';
         background-color: white;
         transform-origin: 0 0;
         transition: all .3s ease-out;
      }

      &::after {
         position: absolute;
         bottom: 0;
         left: 0;
         width: 20px;
         height: 3px;
         content: '';
         background-color: white;
         transform-origin: 0 100%;
         transition: transform .3s ease-out;
      }

      @mixin atMedium {
         display: none;
      }
   }

   &__menu-icon--close-x {

      &::before {
         transform: rotate(45deg) scaleX(1.25);
      }

      .site-header__menu-icon__middle {
         opacity: 0;
         transform: scaleX(0);
      }

      &::after {
         transform: rotate(-45deg) scaleX(1.25) translateY(1px);
      }
   }

   &__menu-content {
      opacity: 0;
      transform: scale(1.2);
      padding-top: 90px;
      text-align: center;
      transition: all .3s ease-out;
      z-index: -10;
      @mixin atMedium {
         opacity: 1;
         z-index: 1;
         display: block;
         padding-top:0;
         transform: scale(1);
      }

      &--is-visible {
         opacity: 1;
         z-index: 1;
         transform: scale(1);
      }
   }
}
